
:root{
    --blue-color: #0075ff;
    --blue-color-alt: #0d69d5;
    --orange-color: #f59e06;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}
/* start box */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.d-block{
    display: block;
}
@media (max-width: 767px){
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
    .block-mobile{
        display: block;
    }
}
.gap-20{
    gap: 20px;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
/* end box */
/* start padding + margin */
.m-0{
    margin: 0;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.pt-10{
    padding: 10px;
}
.pt-15{
    padding: 15px;
}
.pb-15{
    padding: 15px;
}
.pl-15{
    padding-left: 15px;
}
.p-20{
    padding: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0px;
}
.ml-10{
    margin-left: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mt-5{
    margin-top: 5px;
}
.mt-15{
    margin-top: 15px;
}
.mr-15{
    margin-right: 15px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-15 {
    margin-top: 15px;
}
.ml-20{
    margin-left: 20px;
}
.mt-25{
    margin-bottom: 25px;
}
/* end padding + margin */
/* start color */
.bg-eee{
    background-color: #eee;
}
.bg-blue{
    background-color: blue;
}
.bg-white{
    background-color: white;
}
.bg-orange{
    background-color: orange;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}
.bg-eee{
    background-color: #eee;
}
.c-black{
    color: black;
}
.c-white{
    color: white;
}
.c-gray{
    color: gray;
}
.c-blue{
    color: blue;
}
.c-green{
    color: green;
}
.c-orange{
    color: orange;
}
.c-balck{
    color: black;
}
/* end color */
/* start position */
.p-relative{
    position: relative;
}
/* end position */
/* Start dimentions */
.w-fit{
    width: fit-content;
}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.w-100{
    width: 100px;
}
.h-100{
    height: 100px;
}
/* End dimentions */
/* Start fodimentionsnt */
.txt-c{
    text-align: center;
}
@media (max-width: 767px){
    .txt-c-mobile{
        text-align: center;
    }
}
.fw-bold{
    font-weight: bold;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
/* end font */
/* start border */
.rad-half{
    border-radius: 50%;
}
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.b-none{
    border: none;
}
.border-ccc{
    border: 1px solid #ccc;
}
.border-eee{
    border: 1px solid #eee;
}
/* end border */
@media (max-width: 767px){
    .hide-mobile{
        display: none;
    }
}
/* Start Component*/
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Component */
